

h1{
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    /* opacity: 0.3; */
}

/* body{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: #000000;
    background-color: rgb(255, 255, 255); 
    overflow-x: hidden;
    word-break: break-word;
    overflow-wrap: break-word;
    line-height: 1.5;
} */

a{
    text-decoration: none;
    color: #ffffff;
    /* opacity: 0.3; */
}

#meta { font-size: small; }
    #savedText {
      color: #ffffff;
        left: 0;
        right: 0;
        margin-top: 40%;
        position: fixed;
        text-align: center;
        opacity: 0;
    }
    .fadeInAndOut {
        -webkit-animation: fadeinout 2s ease-out forwards;
        animation: fadeinout 2s ease-out forwards;
    }
    @-webkit-keyframes fadeinout { 50% { opacity: 1; } }
    @keyframes fadeinout { 50% { opacity: 1; } }

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.medium-editor-anchor-preview,
.medium-editor-toolbar {
  font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    z-index: 2000
}

.medium-editor-placeholder-relative:after,
.medium-editor-placeholder:after {
    content: attr(data-placeholder) !important;
    white-space: pre;
    padding: inherit;
    margin-left: 5px;
}

.medium-editor-toolbar {
    left: 0;
    top: 0;
    visibility: hidden
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

a button,button,input[type="submit"],input[type="reset"],input[type="button"] {
    padding-bottom: 05px;
    margin-top: 5px;
    text-align: center;
    background: none;
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    border: none;
    background-color:#fff;


    cursor: pointer;
    width: 100%;
    font-size: 20px;
    color: #000000;
}

textarea, select, input {
    padding: 6px 12px;
    color: #000000;
    margin-bottom: .5rem;
    box-sizing: border-box;
    border-radius: 5px;
}

.links :hover{
    color: rgb(53, 53, 53);
    font-size: 15px;
}

.qr-code{
    border: none;
    width: auto;
    margin-left: auto ;
    margin-right: auto ;
}

.scroll-right {
    height: 40px;	

    position: relative;
    background:  rgb(155, 155, 155);

   }
   .scroll-right p {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: auto;
    text-align: center;
    /* Starting position */
    -moz-transform:translateX(-100%);
    -webkit-transform:translateX(-100%);	
    transform:translateX(-100%);
    /* Apply animation to this element */	
    -moz-animation: scroll-right 15s linear infinite;
    -webkit-animation: scroll-right 15s linear infinite;
    animation: scroll-right 15s linear infinite;
   }
   /* Move it (define the animation) */
   @-moz-keyframes scroll-right {
    0%   { -moz-transform: translateX(-100%); }
    100% { -moz-transform: translateX(100%); }
   }
   @-webkit-keyframes scroll-right {
    0%   { -webkit-transform: translateX(-100%); }
    100% { -webkit-transform: translateX(100%); }
   }
   @keyframes scroll-right {
    0%   { 
    -moz-transform: translateX(-100%); /* Browser bug fix */
    -webkit-transform: translateX(-100%); /* Browser bug fix */
    transform: translateX(-100%); 		
    }
    100% { 
    -moz-transform: translateX(100%); /* Browser bug fix */
    -webkit-transform: translateX(100%); /* Browser bug fix */
    transform: translateX(100%); 
    }
   }


   .card1{
    background: rgb(161, 161, 161);

   }

   .one-half column h1{
    font-family: none;
    font-size: none;
    color:none;
   }


   h1,h2,h3,a{

   }

   button{

   }

   @font-face{
	font-family: arialBlack;
	src: url(arial-black.ttf) ;
}

.boxed{
    padding: 10px;
    border: 10px solid white;
    border-radius: 20px;
    width: min-content;

}